header{
    background: lightseagreen;
    position: fixed;
    width: 100vw;
    top: 0px;
    height: 3rem;
    box-sizing: border-box;
    z-index: 100;
    .logo{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        clear: both;
    }
    nav{
        position: absolute;
        display: inline-block;
        a{
            text-decoration: none;
            color: white;
            transition: transform 0.3s ease;
        }
        a:hover{
            transform: translateY(-3px);
        }
        .active{
            background: white;
            color: #666;
            border-radius: 8px;
            padding: 3px 10px;
            text-shadow: 0px 0px 0px black;
        }
        ul{
            padding: 0px;
            margin: 15px 30px;
            display: inline-block;
            list-style-type: none;
            li{
                float: left;
                padding: 0px 15px;
                text-shadow: 1px 3px 10px black;
            }
        }
    }
}