//Global scss
//Font family Roboto
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
.mni-height-250{
    min-height: 250px;
}
.min-height-100{
    min-height: 250px;
}
* {
    // box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    clear: both;
}
*, *::after, *::before {
    box-sizing: border-box;
   }
.text-center{
    text-align: center;
}
.m-15{
    margin:15px;
}

//Global Settings
// :root{

// }